body {
    background-color: #101010;
    color: #f2f2f2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

header {
    background-color: #f90;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
.glide {
    justify-content: center;
    text-align: center;
}
  /* .glide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  .glide__track {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .glide__slide {
    flex: 0 0 auto;
    width: 80%; 
    max-width: 800px; 
    margin: 0 2rem; 
    text-align: center;
  }

  .glide__prev,
  .glide__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .glide__prev {
    left: 0;
  }
  
  .glide__next {
    right: 0;
  } */
  

  h2 {   
    font-size: 36px;   
    font-weight: bold;   
    text-align: center;   
    color: #f90;   
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
  .a {
    color: white;
    font-family: Arial, sans-serif;
    background-color: yellow;
    padding: 0.5rem;
    border: 2px solid black;
  }
  
nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
  }
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
nav li {
    margin: 0 10px;
  }
nav a {
    color: white;
    text-decoration: none;
  }
 